* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.main-container {
    visibility: hidden;
    margin-top: 3vh;
}

.main-container h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Rubik';
    color: #0C1821;
    letter-spacing: 2rem;
}

.main-container p {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.4rem;
    margin-bottom: 1rem;
}

table {
    width: 400px;
    align-items: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.game-container {
    margin: 0 auto;
    background-color: black;
}

.tile {
    width: 40px;
}

.btn {
    display: flex;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    
    font-size: 1.5rem;
    color: rgb(255, 249, 249);
    border: solid;
    border-width: 2px;
    border-color: #324A5F;
    border-radius: 50px;
    background-color: #324A5F;

    cursor: pointer;
    transition: 0.15s;
}

.btn:hover {
    background-color: #243543;
    border-color: #243543;
}

.btn:active {
    background-color: transparent;
    color: #324A5F;
}

.score-box {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#alert {
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
}

.end-msg {
    color: rgb(214, 19, 19);
    background-color: rgba(234, 128, 128, 0.642);
    width: 500px;
}

.count-msg {
    color: rgb(23, 91, 29);
    background-color: rgba(152, 224, 143, 0.817);
    width: 300px;
}

.check-lifes {
    margin-top: 3rem;
}

.check-notif {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 4rem;
}

.radio-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 10vh;
    gap: 5px;
}

.radio-boxes h1 {
    color: #DD6127;
    font-size: 4rem;
}

.radio-boxes h4 {
    color: #324A5F;
    font-size: 2rem;
}

.init {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.radio-boxes label {
    font-size: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 2rem;

    margin-top: 5px;
}

.select-container option {
    font-size: 1.2rem;
}